@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.clientInfoWindow{
    left: 0; 
    right: 0;
    margin: 6em auto;
    padding: 0;
    padding-bottom: 4em;
    /*background-color: bisque;*/
    color: black;
    max-width: 30em;
    font-family: "Quicksand";
    border-radius: 1em;
}

.clientInfoText .clientInfoInformation{
    display: block;
}

.clientInfoImage{
    padding: 0;
    border: 1px solid black;
    text-align: center;
}

.hideInput{
    display: none;
}

.showInput{
    display: block;
}

#imageID{
    max-width:100%;
}
