.unaprovedList{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 4em;
}


.listedUnaprovedUser{
    width: 50em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(248, 221, 148);
    margin: 0.5em;
    padding: 1em;
}




