.userList{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 4em;
}


.listedUser{
    width: 50em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(248, 221, 148);
    margin: 0.5em;
    padding: 1em;
}

.userStuff{
    display: flex;
    justify-content: start;
}

.userStuff > div{
    margin-right: 1rem;
}

.userButton{
    box-shadow: 1px 1px 1px black;
    border: 1px solid rgb(141, 141, 141);
    background-color: rgb(111, 178, 255);
    color: black;
    font-size: 0.8em;
    width: 6em;
    height: 3em;
    margin: 1em;
}

.userButton:hover{
    background-color: rgb(77, 160, 255);
}

