@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.userInfoForm {
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userInfoInput[type="submit"] {
    font-weight: 600;
    font-family: "Quicksand";
    box-shadow: 1px 1px 2px #505050;
    width: 12rem;
    height: 2.5rem;
    border-radius: 0.4rem;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    margin: 1rem;
    display: block;
    outline: none;
    font-size: 1em;
    color: #000000;
}

.disabledInput[type="text"]:disabled{
    background-color: rgba(255, 255, 255, 0.5);
}

.userInfoLabel{
    font-size: 15px;
    font-family: "Quicksand";
}

.returnButton{
    font-weight: 600;
    font-family: "Quicksand";
    box-shadow: 1px 1px 2px #505050;
    width: 12rem;
    height: 2.5rem;
    border-radius: 0.4rem;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    margin: 1rem;
    display: block;
    outline: none;
    font-size: 1em;
    color: #000000;
}