body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  overflow: hidden;
}

.cover{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: gold;
}

.buttonActive{
  background-color: gainsboro;
}

.leaflet-container{
  width: 100%;
  height: 100vh;

}

body::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

/*da se vidi ovo u pozadini imamo position relative*/
.popupDark {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 501;
  background: rgba(20, 20, 20, 0.4);
}

#popupStatistics {
  text-align: center;
}

.recharts-wrapper {
  margin : 0 auto;
}

.popupDarkList{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 501;
  background: rgba(204, 204, 204, 0.9);
  overflow: auto;
}

#popupLogin {
  display: none;
}

#popupRegister {
  display: none;
}

#popupStatistics {
  display: none;
}

#popupUserlist{
  display: none;
}

#popupUnaprovedList{
  display: none;
}
