#calendar {
    width: 80%;
    margin: 0 auto;
    font-size: 10px;
}

#calendarDay {
    width: 80%;
    margin: 0 auto;
    font-size: 10px;
}

.fc-toolbar {
    font-size: .9em;
}
.fc-toolbar h2 {
    font-size: 12px;
    white-space: normal !important;
}
/* click +2 more for popup */
.fc-more-cell a {
    display: block;
    width: 100%;
    margin: 1px auto 0 auto;
    border-radius: 3px;
    background: grey;
    color: transparent;
    overflow: hidden;
    height: 4px;
}
.fc-more-popover {
    width: 100px;
}
.fc-view-month .fc-event, .fc-view-agendaWeek .fc-event, .fc-content {
    font-size: 0;
    overflow: hidden;
    height: 2px;
}
.fc-view-agendaWeek .fc-event-vert {
    font-size: 0;
    overflow: hidden;
    width: 2px !important;
}
.fc-agenda-axis {
    width: 20px !important;
    font-size: .7em;
}

.fc-button-content {
    padding: 0;
}

#background {
    background-color:rgb(255, 255, 255);
    float:left; 
    width:30rem;
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


#popupCalendar{
    /*display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;*/
    position: absolute;
    z-index: 501;
}


#booking{
    justify-content: center;
    align-items: center;
}

#booking select{
    width: 7rem;
    margin: 0rem 1rem 2rem 0.5rem;
}

#button{
    width: 7rem;
    height: 1.5rem;
}

.popupDark {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 501;
    background: rgba(20, 20, 20, 0.4);
  }