@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.login{
    left: 0; 
    right: 0;
    margin: 6em auto;
    padding: 0;
    padding-bottom: 4em;
    /*background-color: bisque;*/
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    max-width: 30em;
    z-index: 2;
    font-family: "Quicksand";
    border-radius: 1em;
}
.login>h1{
    padding-top: 2em;
    text-align: center;
}


.loginInput{
    font-size: 16px;
    font-weight: 700;
    border: none;
    background-position: left; 
    background-repeat: no-repeat;
    background-size: 1.5em;
    padding: 6px 0 6px 30px;
    font-family: "Quicksand";
}

.loginInput[type=text]{
    width: 100%;
    margin: 0.5em 0;
    box-sizing: border-box;
}


.loginInput[id=username]{
    background-image: url('../media/userLoginIcon.png');
}

.loginInput[type=password]{
    background-image: url('../media/lockLoginIcon.png');
    width: 100%;
    margin: 0.5em 0;
    box-sizing: border-box;
}


.loginInput[id=remember]{
    margin: 1em 0;
}

.loginInput[type=submit]{
    padding-left: 0;
    width: 100%;
    box-sizing: border-box;
}

.loginLabel{
    font-size: 15px;
    font-family: "Quicksand";
    color: white;
}

.loginHidden{
    display: none;
}

#loggedInMessage{
    text-align: center;
}
.closeButton{
    
    padding: 6px 30px 6px 30px;
    font-family: "Quicksand";
}

.formContainer{
    padding: 0 6em;
    left: 0; 
    right: 0;
    margin: 3em auto;
}

#msgWindow{
    font-size: 16px;
}

.errorMsgWindow{
    color: red;
}

.infoMsgWindow{
    color: khaki;
}
