@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.manager-buttons{
  position: absolute;
  top: 30px;
  right: 40px;
  padding: 10px;
  z-index: 500;
}

.btn {
    position: relative;
  }

  .create-parking, .edit-parking, .edit-parking-space, .create-parking-space, .parking-space-occupation{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
  }

 
  .parking{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 45rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .parkingForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #textarea{
    padding: 1rem;
    resize: none;
  }

  .mapButton{
    font-weight: 600;
    font-family: "Quicksand";
    box-shadow: 1px 1px 2px #505050;
    width: 8rem;
    height: 2rem;
    border-radius: 0.4rem;
    border: none;
    color: rgb(255, 230, 184);
    background-color: #4b4b4b;
    margin: 0.5rem;
    outline: none;
    font-size: 1em;
  }

  .cancelButton{
    font-weight: 600;
    font-family: "Quicksand";
    box-shadow: 1px 1px 2px #505050;
    width: 8rem;
    height: 2.5rem;
    border-radius: 0.4rem;
    border: none;
    background-color: rgb(255, 255, 255);
    margin: 1rem;
    outline: none;
    font-size: 1em;
    color: #000000;
  }

  .mapButton:hover{
    background-color: #2e2e2e;
  }

  .buttonActive{
    background-color: #1f1f1f;
  }

  .formCreateParkingButtons{
    display: flex;
    align-items: center;
  }


  /*Parking space window*/
  .parking-space{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 20rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .reserve{
    color: white;
    padding-bottom: 2rem;
    font-size: 1.5em;
    font-weight: 600;
    font-family: "Quicksand";
  }

  #reserve{
    margin: 1rem 0rem 3rem 0rem;
    width: 13rem;
    height: 2.5rem;
  }

  .deleteButton{
    font-weight: 600;
    font-family: "Quicksand";
    box-shadow: 1px 1px 2px #505050;
    width: 8rem;
    height: 2.5rem;
    border-radius: 0.4rem;
    border: none;
    background-color: rgb(255, 71, 71);
    margin: 1rem;
    outline: none;
    font-size: 1em;
    color: #000000;
  }