@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.navbar {
    font-family: "Quicksand";
    padding: 20px 50px;
    background-color: #1f1f1f;
    max-height: 2rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: #333;
  }
  .navbar h1>a {
    /*#f1356d*/
    color: rgb(255, 230, 184);
  }
  .navbar .links {
    margin-left: auto;
  }
  .navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    color: rgb(255, 230, 184);
  }

  .navbar button{
    font-size: 1em;
    font-family: "Quicksand";
    margin-left: 16px;
    padding: 1em;
    border: none;
    color: rgb(255, 230, 184);
    background-color: #1f1f1f;
    cursor: pointer;
   
  }

  .navbar a:hover {
    color: #f7efd5;
  }
