@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/*Register 1*/
.register{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}   


.pane{
    border-radius: 1rem;
    background: linear-gradient(to right top, #222222cc, #3a3a3aee);
    height: 50rem;
    width: 30rem;
}

.titlePart{
    font-family: 'Quicksand';
    border-radius: 1rem 1rem 0rem 0rem;
    font-weight: 600;
    padding: 1rem;
    font-size: 1.8em;
    color:#ffffff;
    text-align: center;
}

.registerForm {
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputField {
    font-weight: 600;
    font-family: "Quicksand";
    box-shadow: 1px 1px 2px #505050;
    width: 19rem;
    height: 2.5rem;
    border-radius: 0.4rem;
    border: none;
    /*border: 2px solid #636363;*/
    background-color: rgba(255, 255, 255, 1);
    margin: 1rem;
    display: block;
    outline: none;
    font-size: 1em;
    padding-left: 0.8rem;
    color: #000000;
    backdrop-filter: blur(2rem);
}

.registerInput[type="submit"] {
    font-weight: 600;
    font-family: "Quicksand";
    box-shadow: 1px 1px 2px #505050;
    width: 12rem;
    height: 2.5rem;
    border-radius: 0.4rem;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    margin: 1rem;
    display: block;
    outline: none;
    font-size: 1em;
    color: #000000;
}

.inputField:focus, .inputField:hover, input[type="submit"]:hover{
    background-color: rgba(255, 255, 255, 0.9);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

/*upload image css*/
.registerLabel {
    font-size: 1em;
}

.imgField {
    display: none;
}

.custom-file-upload {
    /*rgb(255, 225, 174);*/
    /*rgb(234, 242, 253);*/
    /*rgb(214, 177, 134)*/
    /*rgb(255, 230, 184)*/
    font-weight: 600;
    font-family: "Quicksand";
    box-shadow: 1px 1px 2px #505050;
    margin: 1.5rem;
    border-radius: 0.4rem;
    border: none;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 15rem;
    height: 1.5rem;
    background-color: rgba(255, 255, 255, 1);
    color: #000000;
}

.custom-file-upload:hover{
    background-color: rgba(255, 255, 255, 0.9);
}


.error-msg{
  text-align: center;
  color: red;
  font-family: 'Quicksand';
  font-size: 1.3em;
  padding: 1em;
}
 

/*Register 2*/
/*@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.registerV2 {
  padding: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

form {
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titlePartV2 h1 {
  font-family: "Quicksand";
  color: #292929;
}

.inputField {
  font-family: "Quicksand";
  box-shadow: 1px 1px 2px #505050;
  width: 18rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 2px solid #636363;
  background-color: rgb(255, 225, 174);
  margin: 1rem;
  display: block;
  outline: none;
  font-size: 1em;
  padding-left: 0.8rem;
}

input[type="submit"] {
  font-family: "Quicksand";
  box-shadow: 1px 1px 2px #505050;
  width: 12rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 2px solid #636363;
  background-color: rgb(255, 213, 142);
  margin: 1rem;
  display: block;
  outline: none;
  font-size: 1em;
  color: #000000;
}

.inputField:focus {
  border: 2px solid #555;
}

label {
  font-size: 1em;
  font-weight: 600;
}

.imgField {
  display: none;
}

.custom-file-upload {*/
  /*rgb(255, 225, 174);*/
  /*rgb(234, 242, 253);*/
  /*font-family: "Quicksand";
  box-shadow: 1px 1px 2px #505050;
  margin: 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid #636363;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 10rem;
  height: 1.5rem;
  background-color: rgb(255, 225, 174);
  color: #555;
}*/

